@import "tailwindcss";

* ::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  transition: 0.3s ease all;
}

img:hover {
  scale: 102%;
}
.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 12px solid transparent;
  border-right-color: #fbbf24; /* amber-400 */
  position: relative;
  animation: spin 1s infinite linear;
  box-shadow: 0 0 10px #fbbf24aa;
}

.loading::before,
.loading::after {
  content: "";
  position: absolute;
  inset: -12px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
  opacity: 0.6;
}
.loading::after {
  animation-duration: 3s;
  opacity: 0.3;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
